
/* Selection */

::-moz-selection {
	background: #000;
	color: #fff;
}

::-webkit-selection{
	background: #000;
	color: #fff;
}

::selection{
	background: #000;
	color: #fff;
}

/* Forms common style */

.form-control {
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	height: 33px;
	border: 1px solid #EAEAEA;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.form-control:focus {
	border-color: #CACACA;
}

/* Forms size */

.input-lg,
.form-horizontal .form-group-lg .form-control {
	height: 43px;
	font-size: 13px;
}

.input-sm, .form-horizontal .form-group-sm .form-control {
	height: 29px;
	font-size: 10px;
}

.rqst-form {
	margin-top: 27px;

	.btn {
		margin-top: 5px;
	}
}

.input-group-addon {
	border: 1px solid #e4e4e4 !important;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 18px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #333333;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #333333;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #333333;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #333333;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #333333;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #333333;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
	background: #333333;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #333333;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #333333;
}
input[type=range]:focus::-ms-fill-upper {
	background: #333333;
}