/* 
* COLORES 
*/

$color_background: #eef0f3;
$color_facebook: #3467ab;
$color_whatsapp: #49c15c;
$color_twitter: #01abf4;
$color_email: #9ba6ac;
//$color_primary: #000;
$color_primary: #ededed;
$color_primary_hover: #000;
$color_secondary: #f65b4c;
$color_secondary_hover: #f14130;
$color_tertiary: #817ac5;
$color_tertiary_hover: #685fc1;
$color_quarter: #faaf40;
$color_fifth: #ff7f94;

/*
* FUENTES
*/

$font_primary: 'Playfair Display',
Sans-serif;
$font_secondary: 'Avenir Next Condensed',
serif;
$font_tertiary: 'Avenir Next',
serif;
