@font-face {
	font-family: "icons";
	src: url('../fonts/icons.woff') format('woff'), url('../fonts/icons.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
.icon:before {
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon--arrow_left:before {
	content: "\EA01"
}
.icon--bookmark_off:before {
	content: "\EA02"
}
.icon--bookmark_on:before {
	content: "\EA03"
}
.icon--camera:before {
	content: "\EA04"
}
.icon--check:before {
	content: "\EA05"
}
.icon--coffee:before {
	content: "\EA06"
}
.icon--cross:before {
	content: "\EA07"
}
.icon--facebook:before {
	content: "\EA08"
}
.icon--fullscreen:before {
	content: "\EA09"
}
.icon--fullscreen_outline:before {
	content: "\EA0A"
}
.icon--instagram:before {
	content: "\EA0B"
}
.icon--link:before {
	content: "\EA0C"
}
.icon--link_outline:before {
	content: "\EA0D"
}
.icon--mail:before {
	content: "\EA0E"
}
.icon--mail_outline:before {
	content: "\EA0F"
}
.icon--menu_hamburger:before {
	content: "\EA10"
}
.icon--menu_lomito:before {
	content: "\EA11"
}
.icon--menu_meatball:before {
	content: "\EA12"
}
.icon--menu_vento:before {
	content: "\EA13"
}
.icon--messenger:before {
	content: "\EA14"
}
.icon--pause:before {
	content: "\EA15"
}
.icon--picture:before {
	content: "\EA16"
}
.icon--pinterest:before {
	content: "\EA17"
}
.icon--play:before {
	content: "\EA18"
}
.icon--play_rounded:before {
	content: "\EA19"
}
.icon--search:before {
	content: "\EA1A"
}
.icon--search_cool:before {
	content: "\EA1B"
}
.icon--settings:before {
	content: "\EA1C"
}
.icon--snapchat:before {
	content: "\EA1D"
}
.icon--sound_high:before {
	content: "\EA1E"
}
.icon--sound_low:before {
	content: "\EA1F"
}
.icon--sound_off:before {
	content: "\EA20"
}
.icon--twitter:before {
	content: "\EA21"
}
.icon--upload:before {
	content: "\EA22"
}
.icon--user:before {
	content: "\EA23"
}
.icon--whatsapp:before {
	content: "\EA24"
}
.icon--whatsapp_outline:before {
	content: "\EA25"
}
.icon--youtube:before {
	content: "\EA26"
}
.icon--logo:before {
	content: "\EA27"
}
.icon--check_outline:before {
	content: "\EA28"
}
